* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}
p {
    line-height: 3;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #c5c5c5, #d5d5d5, #ffffff);
    color: #1e293b;
    padding: 24px;
}

.tabContainer {
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
}

.tab {
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;
}

.tabActive {
    background: #3b82f6;
    color: white;
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.5);
}

.tabInactive {
    background: #475569;
    color: white
}

.card {
    background: rgba(255, 255, 255, 255);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 24px;
    /*border: 1px solid #475569;*/
    margin-bottom: 24px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.cardTitle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #000000;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 14px;
    color: #000000;
    margin-bottom: 4px;
}

input {
    width: 100%;
    background: #ffffff;
    border: 1px solid #64748b;
    border-radius: 4px;
    padding: 8px 12px;
    color: #000000;
    font-size: 14px;
}

.tableContainer {
    overflow-x: auto;
}

table {
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 8px;
    color: #000000;
    border-bottom: 1px solid #475569;
}

.thRight {
    text-align: right;
    padding: 8px;
    color: #000000;
    border-bottom: 1px solid #475569;
}

tr {
    border-bottom: 1px solid rgba(71, 85, 105, 0.5);
}

td {
    padding: 8px;
}

.tdRight {
    text-align: right;
    padding: 8px;
}


