.header-container {
    background-color: rgb(2, 14, 28);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}
.header-container .header {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 14, 28);
    padding: 30px;
    box-sizing: border-box;
}
.header-container .title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container .title {
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    padding: 30px 0;
}
.header-container .logo {
    height: 50px;
    margin-right: 10px;
}
.menu {
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 9999;
}
.menu ul {
    list-style-type: none;
    font-weight: 500;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.5);
}
.menu li {
    float: none;
}
.menu li a {
    display: inline-block;
    padding: 14px 18px;
    color: black;
    text-decoration: none;
    position: relative;
    font-size: 16px;
}
.menu li.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
    cursor: pointer;

}
.menu li a:hover::after {
    content: '';
    display: block;
    width: 85%;
    height: 3px;
    background-color: #020e1c; /* rsi red */
    position: absolute;
    bottom: 7%;
    left: 7.5%;

}
.menu li.dropdown {
    display: inline-block;
    border-radius: 20px;
}
.menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.menu .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.menu .dropdown:hover .dropdown-content {
    display: block;
}
.menu .form {
    display: block;
    padding: 14px 18px;
    color: black;
    text-decoration: none;
}
.menu .active {
    background-color: #020e1c;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
}
.menu .active::after {
    content: '';
    display: block;
    width: 85%;
    height: 3px;
    background-color: #00b6a6;
    position: absolute;
    bottom: 7%;
    left: 7.5%;
    border-radius: 3px;
}
button {
    background-color: black;
    color: white;
    outline: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 14px 18px;
}
button:focus {
    outline: none;
}

